

		.Pstyle{
			font-size:24px;
		}
		btn-lg{
			background-color: black;
		}

		#wrap{
			width: 1600px;
			margin: 20px auto 0;
			height: 800px;
		
		
		}


		#form-wrap{
			overflow: hidden;
			height: 550px;
			position: relative;
			transition: all 1s ease-in-out .3s;
		}

		#form-wrap:before{
			content: "";
			position: absolute;
			bottom: 128px;
			left: 0px;
			background:url('images/before.png');
			width: 530px;
			height: 317px;
		}

		#form-wrap:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			background: url('images/after.png');
			width: 530px;
			height: 259px;
		}

		#form-wrap.hide:after,
		#form-wrap.hide:before{
			display: none;
		}

		#from-wrap:hover{
			height: 777px;
			top:-200px;

		}

		.frmstyle{
			position: relative;
			top: 200px;
			overflow: hidden;
			height: 450px;
			width: 480px;
			margin: 0px auto;
			padding:20px;
			border:2px solid gray;
			border-right: 3px;
			transition: all 1s ease-in-out .3s;
			background:#c7b1ba73;
    		border-radius: 10%;
		}

		#form-wrap:hover{ 
			height:760px;
		}


.Booktext2{
    background-color:white;
    font-family: Gloss And Bloon;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-background-clip:text;
    pointer-events: none;
    justify-content: center;

}
.Booktext{
    background-color:red;
    font-family: Gloss And Bloon;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #d2006b;
    -webkit-background-clip:text;
    pointer-events: none;
    animation: anim1 1s infinite, anim2 10s forwards;
  }

  @keyframes anim1{
    0%{background-color:yellow; }
    10%{background-color:white; }
    20%{background-color:green;}
    30%{background-color:pink;}
    40%{background-color:purple;}
    50%{background-color:blue;}
    60%{background-color:gray;}
    70%{background-color:white;}
    80%{background-color:red;}
    90%{background-color:pink; }
    100%{background-color:orange;}
  }

  @keyframes anim2{
    from{color: transparent;}
    to{color: transparent;}
  }



  .Bookbtn{
    background-image:linear-gradient(155deg, rgba(206, 190, 41, .3) 90%, rgba(155, 31, 80, .6) 100%), url('images/purpleEyes.jpg');
    background-size: 100% 100%;
    background-position: center;
    font-family: Gloss And Bloon;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #000;
    margin-right: 5px;
    animation: anim1 1s infinite, anim2 10s forwards;
  }
 @keyframes anim1{
    0%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%), url('images/default.jpg'); }
    10%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%), url('images/multi.jpg'); }
    20%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/brownEyes.jpg');}
    30%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/A-pink.jpg');}
    40%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),   url('images/bg-img1.jpg');}
    50%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/purpleEyes.jpg');}
    60%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/B-Green.jpg');}
    70%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/purpleEyes.jpg');}
    80%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/two.gif');}
    90%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .5) 90%, rgba(255, 31, 80, .8) 100%),  url('images/multi.jpg'); }
    100%{background-image:linear-gradient(155deg, rgba(206, 190, 41, .3) 90%, rgba(155, 31, 80, .6) 100%),  url('images/three.jpg');}
  }

  @keyframes anim2{
    from{color: transparent;}
    to{color: transparent;}
  }


.Bookbtn a{
    color: black;
    font-style:normal;
}
  .Bookbtn a:hover{
    font-style: normal;
    font-size:25px;
    
  }