.sectionExp{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cntainerExp{
	position: relative;
	width: 1300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 50px;
}

.cntainerExp .cardExp{
	position: relative;
	max-width: 300px;
	height: 215px;
	background:#fff;
	margin:30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}


.cntainerExp .cardExp:hover{
	height: 420px;
}

.cntainerExp .cardExp .imgBxExp{
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 0px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


.cntainerExp .cardExp .imgBxExp img{
	max-width: 100%;
	border-radius: 4px;
	object-fit: cover;
}

.cntainerExp .cardExp .contectExp{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}


.cntainerExp .cardExp:hover .contectExp{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}