:root{
	--mainColor:linear-gradient(155deg, rgba(206, 190, 41, .3) 90%, rgba(155, 31, 80, .3) 100%), url('images/default.jpg') ;
    --faceColor:#f79b1f75;
    --ballsColors: brown;
    --bgBtn:#6d4105c9;
    --txtColor:white;
    --headerColor:#f79b1f33;
    --socialColor:brown;
    --faceBorder:#d09c277a;
    --formColor:#f79b1f75;
    --emailImage1:url('images/beforeBrown.png');
    --emailImage2:url('images/afterBrown.png');

}
